.pokethings {
    background-image: url(https://wallpaperaccess.com/full/281617.jpg);
    background-size: 8rem;
}

a{
    text-decoration: none;
    color: orange;
    font-weight: bolder; 
    
}

a:hover{
    background-color: gold;
}
.signupbox{
    display: flex;
    flex-direction: column;
    width:30rem;
    margin-left: 45rem;
    margin-top: 10rem;
}
.profile{
    margin-bottom: 100rem;
    margin-left: 50rem;
    margin-top: 3rem;
}
.userr{
    font-size: large;
    font-weight: 600;
    color: orange;
}
.selectedPokemon{
    margin-left: 50rem;
    background-color: rgb(216, 122, 15);
}

