{% extends 'nav2.0.html' %}


{% block content %}

<div style="max-height: 100%;">


    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="card profile " style="width: 18rem; background-color: lightblue;">
            <img src="https://ssb.wiki.gallery/images/thumb/a/a0/FRLGMaleTrainer.png/1200px-FRLGMaleTrainer.png"
                class="card-img-top" style="height: 30rem;">
            <div class="card-body">
                <p class="card-text">FirstName: {{form.fname (value = profile.fname)}}</p>
            </div>
            <div class="card-body" style="padding-top:0rem;">
                <p class="card-text">LastName: {{form.lname (value = profile.lname)}}</p>
            </div>
            <div class="card-body" style="padding-top:0rem;">
                <p class="card-text">Username: {{ form.username (value = profile.username)}}</p>
            </div>
            <div class="card-body" style="padding-top:0rem;">
                <p class="card-text">Email: {{form.email (value = profile.email)}}</p>
            </div>
            <div class="card-body" style="padding-top:0rem;">
                <p class="card-text">Password: {{form.password (placeholder = 'insert old or new password')}}</p>
            </div>
            <div class="card-body" style="padding-top:0rem;">
                <p class="card-text">Password: {{form.confirm_password (placeholder = 'insert old or new password')}}</p>
            </div>
            <div class="card-body" style="padding-top:0rem;">
                <a class="card-text"
                    href="{{url_for('auth.viewProfile', username=current_user.username)}}">{{form.submit}}</a>
            </div>

        </div>


    </form>
</div>
{% endblock %}